* {
    font-family: 'Lato', sans-serif!important;
}

.container {
    height: 100vh;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
  }

ul > li {
    list-style-type: none;
}

button {
    cursor: pointer;
    float:right;
}

p.date {
    float:right;
}

footer {
    background-color: black;
    color: white;
}

@media (min-width:600px){
    .container {
        width: 500px;
    }
}